* {
    font-family: 'Times New Roman';
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 10px;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

#profile {
    background-image: url(img/bg-4.jpeg);
}

#profile_bio {
    background-image: url(img/bg-4.jpeg);
}

#Biodata {
    display: flex;
    color: white;
    text-align: justify;
    font-size: small;
    flex-direction: column;
    align-items: center;
}

#ket_beranda img{
    width: 300px;
    vertical-align: middle;
    margin-right: 20px;
}

#ket_beranda table{
    border: white;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}

#ket_beranda td{
    text-align: justify;
    padding: 5px 10px;
}

#ket_beranda td p {
    display: inline; 
}

i {
    margin-right: 5px;
}

#aboutme, #education, #experience, #skill, #contact{
    border: 2px solid black; 
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}

#Biodata table {
    border: white;
    width: 60%;
    margin-bottom: 20px;
}

#Biodata td {
    text-align: justify;
}

#Biodata th {
    text-align: center;
}

#BiodataPhoto {
    width: 150px;
    height: fit-content;
    vertical-align: middle;
    margin-top: 20px;
}

#ket_beranda {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: small;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.text-content {
    display: flex;
    flex-direction: column;
}

#email_info, #wa_info, #ig_info, #loc_info {
    margin-bottom: 5px;
}

#table_bio td {
    padding: 10px;
}

#table_bio td:nth-child(1) {
    width: 20%;
}

#table_bio td:nth-child(3) {
    width: 50%;
}

